/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css for the body of the html */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Css for the top gradient container */
.top-gradient-container {
    width: 100vw;
    height: 70vh;
    background: radial-gradient(circle, rgb(22, 20, 20), rgb(0, 0, 0) 100%);
    /* padding-top: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


/* Css for the bottom gradient container */
.bottom-gradient-container {
    width: 100vw;
    height: 30vh;
    background: radial-gradient(circle, rgb(22, 20, 20), rgb(0, 0, 0) 100%);
}


/* Css for the image container */
.image-container {
    /* position: absolute; */
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
}


/* Css for the main image of the project */
.main-image {
    width: 180px;
    -webkit-box-reflect: below 80px linear-gradient(transparent, #0004, #0044);
}